body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-info {
  align-content: center;
  display: flex;
  font-size: 25px;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;
  cursor: default;
}

.user-picture {
  margin: 0 auto;
}

.auth-button {
  cursor: pointer;
  font-size: 20px;
}

.separator {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
}

.pdp-info {
  align-content: center;
  display: flex;
  font-size: 25px;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;
  cursor: default;
  text-align: left;
}

.pdp-select {
  min-width: 300px;
  font-size: 20px;
}

.select-title {
  min-width: 250px;
}

/* from todomvc-app-css/index.css */
/* override disabled styles to grey out the toggle */
.todo-list li .toggle:disabled + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22%23eeeeee%22%20stroke%3D%22%23949494%22%20stroke-width%3D%221%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.todo-list li .toggle:checked:disabled + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22%23eeeeee%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%221%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E');
}

.todo-list li .toggle:disabled {
  cursor: not-allowed;
}

.view {
  display: flex;
  justify-content: space-between;
}

.view label {
  width: 100%;
  text-align: left;
}
